#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#project {
  /* background: rgba(255, 255, 255, 0.767); */
  background: rgba(124, 124, 124, 0.103);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.233);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  height: 80vh;
  width: 150vh;
  border-radius: 25px;
  color: rgb(255, 255, 255);
}

#project::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(207, 207, 207, 0.144) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  pointer-events: none;
}

#header {
  width: 100%;
  height: 25%;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}

#body {
  width: 100%;
  height: 50%;
  padding-top: 20px;
  font-size: 50px;
  color: white;
}

#mergePDF {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
