#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#project {
  background: black;
  height: 80vh;
  width: 150vh;
  border-radius: 25px;
  color: white;
}

#header {
  width: 100%;
  height: 25%;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}

#body {
  width: 100%;
  height: 50%;
  background: grey;
  padding-top: 20px;
  font-size: 50px;
}

#mergePDF {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
